@media ( max-width: 1200px )
    .container
        max-width: 960px
    .book
        &__about
            padding: 0
        &__cover
            max-height: 524px
            padding: 75px 80px
@media ( max-width: 992px )
    .container
        max-width: 700px
    .header
        padding-bottom: 70px
        &__navbar
            width: 450px
    .book
        &__about
            max-width: 650px
            padding: 30px 0
            &--mr-1
                margin-right: 10px
        &__title
            margin-bottom: 20px
            font-size: 36px
            line-height: 46px
        &__author
            margin-bottom: 20px
            font-size: 18px
            line-height: 22px
        &__annotation
            margin-bottom: 30px
            font-size: 16px
            line-height: 28px
        &__cover
            margin: auto 0
            padding: 70px 40px
        &__image
            width: 270px
        &__buttons
            flex-wrap: wrap
        &__button
            flex-basis: 55%
            padding: 9px 0
            margin-left: auto
            margin-right: auto
            line-height: 22px
            &--mb-1
                margin-bottom: 10px
        &__read
            flex-basis: 55%
            padding: 9px 0
            margin-left: auto
            margin-right: auto
            line-height: 22px
@media ( max-width: 767px )
    .header
        padding-top: 30px
        padding-bottom: 50px
    .container
        max-width: 576px
        width: 92%
    .book
        &-wrapper
            flex-direction: column
        &__about
            padding: 20px 0
            text-align: center
        &__buttons
            margin: 0 auto 10px
        &__cover
            max-height: none
            padding: 40px
        &__image
            width: 100%
@media ( max-width: 576px )
    .container
        width: 87.5%
    .menu
        &-button
            height: 18px
            display: flex
            padding: 0
            flex-direction: column
            justify-content: space-between
            align-items: center
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 22px
                height: 2.2px
                background-color: #3A4C66
    .header
        &__navbar
            &--mobile
                &_hidden
                    display: none
@media ( max-width: 320px )
    .container
        max-width: 281px
    .header
        padding-top: 18px
    .book
        margin-bottom: 56px
        &__about
            padding-top: 10px
            padding-bottom: 26px
            &--mr-1
                margin-right: 0
        &__title
            margin-bottom: 24px
            font-size: 32px
            line-height: 40px
            text-align: center
        &__author
            margin-bottom: 32px
            font-size: 16px
        &__annotation
            margin-bottom: 17px
        &__button
            flex-basis: 63%
            &--mb-1
                margin-bottom: 15px
        &__read
            flex-basis: 63%
        &__cover
            max-height: none
            padding: 60px 68px
        &__image
            width: 143px
