.recomendations
    &-top
        &__wrapper
            display: flex
            justify-content: space-between
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        max-width: 751px
    &__book
        &-card
            display: flex
            max-width: 358px
            padding: 11px
            border: 1px solid #ECEEF2
            box-sizing: border-box
            border-radius: 8px
        &-cover
            margin-right: 20px
            border-radius: 8px
.top
    max-width: 360px
    &__book
        &-card
            display: flex
        &-cover
            margin-right: 26px
